<div class="main">
  <!-- using false on events allows us to disable the event's default behaviour
        ex. the right click menu -->
    <app-square
      *ngFor="let square of squares; let i = index"
      [squareIndex]="i"
      (click)="onSquareClicked(i)"
      (mouseenter)="CheckMouseIfLeftOrRightButtonIsHeld($event, i)"
      (contextmenu)="false"
      (dragstart)="false"
      (drop)="false">
    </app-square>
    <!-- (dragover)="onTestMouseLeftMouseClick($event, i)"> -->
      <!-- (dragover)="onSquaredragover(i)" -->
        <!-- ^^^^ might need this for being able to color mulitple square while holding mouse button -->
</div>
