<div class="home-container">
  <div class="modal-container" [ngStyle]="{'display': isModalOpen ? 'block' : 'none'}">
    <div class="modal-wrapper">
      <div class="close-button-wrapper">
        <button type="button" (click)="ontoggleCloseModal()" class="btn button-close">
          &times;
        </button>
      </div>
      <div class="modal-content">
        <h1>{{ testLinkLink.currentLink.data.title }}</h1>
        <h3>{{ testLinkLink.currentLink.data.subheading }}</h3>
        <!-- <p>&#8226; visual representation of Dijkstra's algorithm using TypeScript and Angular &nbsp; &nbsp; &nbsp;
          &nbsp; &#8226; data structures such as min index
          d-array heap, adjacency list and weighted graphs
        </p> -->
        <p>{{ testLinkLink.currentLink.data.paragraphBody }}</p>
      </div>
      <div class="buttons-wrapper">
        <button type="button" (click)="previousPageOfContent()" class="btn no-min-height previousButton">Previous</button>
        <button type="button" (click)="nextPageOfContent()" class="btn no-min-height nextButton">Next</button>
      </div>
    </div>
  </div>
  <app-main-menu></app-main-menu>
  <div class="board-wraper">
    <app-board></app-board>
  </div>
</div>
