.main-menu-wraper {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 0.5rem;
}

.reset-button {
  width: 5em;
  height: 2.5em;
  background-color: yellow;
  font-size: 1.6em;
}

.start-button {
  width: 5em;
  height: 2.5em;
  background-color: aquamarine;
  font-size: 1.6em;
}

.Wall-done-button {
  width: 5em;
  height: 2.5em;
  background-color: black;
  font-size: 1.6em;
  color: white;
}
