.main-menu-container {
  height: 100%;
  position: fixed;
  padding: 0.5rem;
  background-color: var(--green-dark);
}

.main-menu-wraper {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.full-reset-button {
  background-color: var(--red-light);
}

.full-reset-button:focus {
  box-shadow: 0 0 0 0.2rem var(--red-light);
}

.start-button {
  background-color: var(--base-green);
  border-color: var(--base-green);
}

.start-button:focus {
  box-shadow: 0 0 0 0.2rem var(--base-green);
}

.clear-search-button {
  background-color: var(--yellow);
}

.clear-search-button:focus {
  box-shadow: 0 0 0 0.2rem var(--yellow-light);
}

.help-button-wrapper {
  position: absolute;
  bottom: 2px;
  right: 3.1rem;
}

.help-button {
  font-size: 2.5rem;
  min-height: 0;
  color: white;
  background-color: transparent;
  padding: 0;
}

.help-button:focus {
  box-shadow: 0 0 0 1px gray;
}
